<div class="container mt-5" style="margin-bottom: 10%;">
    <h3 style="margin-top: 12%;">conheça nossos produtos</h3>
    <div class="d-flex mt-5">
      <div class="card" style="width: 18rem; margin-right: 10px;">
        <img src="https://via.placeholder.com/200x200/000/fff?text=imagem%20de%20exemplo" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
      <div class="card" style="width: 18rem; margin-right: 10px;">
        <img src="https://via.placeholder.com/200x200/000/fff?text=imagem%20de%20exemplo" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
      <div class="card" style="width: 18rem; margin-right: 10px;">
        <img src="https://via.placeholder.com/200x200/000/fff?text=imagem%20de%20exemplo" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
      <div class="card" style="width: 18rem; margin-right: 10px;">
        <img src="https://via.placeholder.com/200x200/000/fff?text=imagem%20de%20exemplo" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
      <div class="card" style="width: 18rem; margin-right: 10px;">
        <img src="https://via.placeholder.com/200x200/000/fff?text=imagem%20de%20exemplo" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
      
    </div>
  </div>